# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# Environment variables
.env
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# IDE stuff
.vscode/
.idea/


# Build / dist output (if using Babel or TS in future)
dist/
build/

# Coverage
coverage/
